<div class="lx-time">
    <!-- Time picker input -->
    <div class="lx-time-input" ng-click="lxTimePicker.openTimePicker()" ng-if="lxTimePicker.hasInput">
        <ng-transclude></ng-transclude>
    </div>

    <!-- Time picker -->
    <div class="lx-time-picker lx-time-picker--{{ lxTimePicker.color }}">
        <div ng-if="lxTimePicker.isOpen">
            <!-- Time picker: header -->
            <div class="lx-time-picker__header">
                <div class="lx-time-picker__current-time">
                    <span>{{ lxTimePicker.display.hours + ':' + lxTimePicker.display.minutes }}</span>
                </div>
            </div>

            <!-- Time picker: content -->
            <div class="lx-time-picker__content">
                <div class="lx-time-picker__current-hour">
                    <button class="btn btn--l btn--teal btn--icon" lx-ripple ng-click="lxTimePicker.previousHour()">
                        <i class="mdi mdi-chevron-up"></i>
                    </button>
                    <div class="lx-time-picker__hour">
                        <div class="btn btn--xl tc-white bgc-teal-600 btn--icon">
                            <input type="text" class="lx-time-picker__manual-input" maxlength="2"
                                ng-model-options="{debounce: 100}"
                                ng-model="lxTimePicker.display.hours">
                        </div>
                    </div>
                    <button class="btn btn--l btn--teal btn--icon" lx-ripple ng-click="lxTimePicker.nextHour()">
                        <i class="mdi mdi-chevron-down"></i>
                    </button>
                </div>
                <div class="lx-time-picker__specator">:</div>
                <div class="lx-time-picker__current-minute">
                    <button class="btn btn--l btn--teal btn--icon" lx-ripple ng-click="lxTimePicker.previousMinute()">
                        <i class="mdi mdi-chevron-up"></i>
                    </button>
                    <div class="lx-time-picker__minute">
                        <div class="btn btn--xl tc-white bgc-teal-600 btn--icon">
                            <input type="text" class="lx-time-picker__manual-input" maxlength="2"
                                ng-model-options="{debounce: 100}"
                                ng-model="lxTimePicker.display.minutes">
                        </div>
                    </div>
                    <button class="btn btn--l btn--teal btn--icon" lx-ripple ng-click="lxTimePicker.nextMinute()">
                        <i class="mdi mdi-chevron-down"></i>
                    </button>
                </div>
            </div>

            <!-- Actions -->
            <div class="lx-time-picker__actions">
                <lx-button lx-color="{{ lxTimePicker.color }}" lx-type="flat" ng-click="lxTimePicker.closeTimePicker()">
                    Ok
                </lx-button>
            </div>
        </div>
    </div>
</div>